<main class="index">
    <div class="sectionIndex__div1">
        <h2 class="sectionIndex__titulo p-3">Quienes Somos</h2>
        <img src="/img/quienessomos.JPG" alt="presupuesto" class="sectionIndex__img position-relative img-fluid">
    </div>
    <br>
    <div class="sectionIndex__div2">
        <div class="sectionIndex__video">
            <iframe class="sectionIndex__vid" width="auto" height="auto" src="https://www.youtube.com/embed/wfZyNM7ZVIc" title=" Construcci贸n de una CASA Paso a Paso | C贸mo Hacer un Replanteo de Obra" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="sectionIndex__p text-wrap p-1">
            <p>
                Somos una empresa constructora especializada en el campo de la construcci贸n h煤meda de hormig贸n, construcci贸n en seco y diversos servicios incluidos en el rubro de la construcci贸n.
                <br><br>
                Con una amplia trayectoria en la construcci贸n h煤meda, construcci贸n en seco y mantenimiento integral, continuamos avanzando en el rubro sin escaparnos de nuestra caprichosa tendencia vanguardista. 
                <br><br>
                Debido al constante desarrollo de nuevas tecnolog铆as, nos ampliamos y especializamos en la  construcci贸n con el sistema Steel Frame, sistema que nos permiti贸 aplicar toda nuestra experiencia a la hora de crear  espacios con mejores dise帽os, confort t茅rmico, y reducir los costos de mantenimiento en edificios.
                <br><br>
                Continuamos con las convicciones intactas y trabajando arduamente para impulsar una mejor calidad de vida, colaborando para impulsar el camino de la sustentabilidad, el ahorro energ茅tico y ser parte activa en el desarrollo estrat茅gico hacia una mejora en el cuidado del medio ambiente.
                <br><br>
                Trabajamos con los m谩s altos est谩ndares de calidad y siempre ocup谩ndonos de cada detalle en todas nuestras obras.
                <br><br>
                Te invitamos a conocernos! 
                <br><br>
                El equipo de Steel Codes S.R.L Constructora.
            </p>    
        </div>
    </div> 
    <div>
        <div class="container text-center my-auto">
            <h1 class="mb-1">Bienvenido a SteelCodes</h1>
            <h3 class="mb-5">
                <em>Ingresa para iniciar</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Empecemos
            </a>
        </div>
    </div>   
</main>

