<header class="header">
    <div class="header__div">
        <div class="header__div1 position-relative text-center p-3">
            <img src="/img/logo.JPG" alt="logo">
        </div>
    </div>
</header>